/* 
@font-face{
    font-family: specialfont;
    src:url(../font/Miama-Regular.ttf);
} */
* {
    font-family: "Inter", sans-serif;
}
.inter-myfont {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
  
body{
    max-width: 1440px;
    margin: 0 auto; 
    background: black;

}

header{
    max-width: 100%;
    margin: 0 auto; 
    background: linear-gradient(to bottom,black, rgb(41, 40, 40), black); 

}
.header{
    width: 100%; 
}
.navbar{
    display:flex;
    justify-content: space-between;
    margin-top: 57px;
    align-items: center;
}
.nav-title{
    color: rgb(230, 83, 60);
    font-style: italic;
    font-size: 2.25rem;
    font-weight: 800;
    margin-top: 0;
}
.nav-items{
    display:flex;
    gap: 47px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    align-items: center;
    padding: 3px;
    padding-right: 20px;
    border-radius: 40px;
}
.nav-items li{
    list-style: none;  
}
.nav-items  button{
    background-color: rgb(230, 83, 60);
    padding: 12px 24px;
    border-radius: 40px;

}
.nav-items li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 400;
}
.nav-icon{
    color: white;
    display:none;
    font-size: 1.6rem;
}
/* Banner */
.banner{
    display:flex;
    margin-top: 32px;
    gap: 54px;
    align-items: center;
}
.banner-text{
    color: white;
    width: 50%;
}
.banner-title{
    font-size: 4.8rem;
    margin-bottom: 28px;
    margin-top: 0px;

}
.banner-title span{
    /* font-family: specialfont; */
}
.text-details{
    color: rgba(255, 255, 255, 0.5);

}
.banner-btn{
    display:flex;
    gap: 14px;
}
.primary-btn{
    background-color: rgb(230, 83, 60);
    color: white;
    border-radius: 42px;
    width: 224px;
    height: 54px;
}
.download-btn{
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
    border: 2px solid white;
    width: 224px;
    height: 54px;
    border-radius: 42px;
}
.banner-model{
    width: 50%;
}
/* .banner-image{
    display:flex;                
    justify-content: center;    
    align-items: center; 
} */
.banner-image img{
    width: 70%;

}
.videos-btn{
    background-color: rgb(57, 57, 57);
    color: white;
    border-radius: 12px;
    padding: 16px 23px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 193px; 
    position: relative;
    top: -554px;
    left: 368px;
}

.video-num{
    font-size: 2.5rem;
    font-weight: 900;
}
.tutorial-btn{
    display:flex;
    backdrop-filter: blur(20px);
    color: white;
    border-radius: 12px;
    padding: 16px 23px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 193px;
    position: relative;
    left: -27px;
    align-items: center;
    gap: 12px;
    bottom: 316px;
}
.tutorial-num{
    font-size: 1.5rem;
    font-weight: 900;
}
.round-red{
    background-color:#E6533C ;
    border-radius: 50%;
    width: 45px;
    height: 45px;
}

/* Main--Habit start */
.habits{
    text-align: center;
    margin-bottom: 50px;
}
.common-title{
    font-size: 3.2rem;
    color: white;
    margin-bottom: 14px;
}
.four-habits{
    display:flex;
    justify-content: space-around;
    margin-bottom: 100px;

}
.habit{
    text-align: center;
    width: 231px;
}
.habit img{
    border-radius: 50%;
}
.four-habits-title{
    color: white;
    margin-top: 30px;
    margin-bottom: 0px;
}
.run-extra{
   display:flex;
   justify-content: space-between;
   background-color: #222222;
   padding: 50px;
   border-radius: 10px;
   width: 85%;
   margin: 0 auto;
}
.run-extra-text{
    width: 400px;
}
.run-extra-text .common-title{
    margin-top: 0px;
}
.run-extra-image img{
    border-radius: 10px;
}
.bmi-text{
    width: 45%;
    margin: 0 auto;
}
.bmi-chart{
    background-color: #222222;
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    
}

.bmi-subtitle{
    font-size: 1.75rem;
    color: white;
}
table{
    color: white;
    border-collapse: collapse;
}
tr th, td{
    border: 1px solid rgba(255, 255, 255, 0.1);
    text-align: left;
    padding: 10px 70px 10px 10px;
}
tr td{
    color: rgba(255, 255, 255, 0.5);
}
.calculate-bmi{
    width: 500px;
}
.bmi-live-calculator {
    display: flex;
    flex-direction: column; 
    gap: 15px;
    margin-bottom:52px ;
}
.input-group {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
input, select {
    width: 100%;
    padding: 10px;
    background-color: #444;
    border: 1px solid #555;
    color: white;
    border-radius: 5px;
}
/* Team section */
.team{
    margin-top: 90px;
}
.team .common-title, .team .text-details{
    width: 45%;
    margin: 0 auto;
    text-align: center;
}
.team .text-details{
    margin-bottom: 60px;
    margin-top: 15px;
}
.all-trainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #222222;
    gap: 20px;
    justify-items: center;
    width: 1260px;
    margin: 0 auto;
  
}
.trainer{
    position: relative;
    margin: 20px;
}
.trainer img{
    width: 326px;
    height: 272px; 
    object-fit: cover;
    filter: brightness(75%);
    border-radius: 18px;
}
.trainer-info{
    margin-top: -10px;
    position: absolute;
    bottom: 30px;
    left: 18px;
}
.trainer-info .text-details{
    margin: 0px;
}

.trainer-name{
    color: white;
    font-size: 1.3rem;
    margin: 0;
}

/* Footer */
footer{
    background-color: rgba(255, 255, 255, 0.1);
    margin-top: 110px;
}
.fitness-info{
    display: flex;
    color: rgba(255, 255, 255, 0.5);
    justify-content: space-evenly;
    padding-top: 80px;
}
.company{
    width: 443px;
}
.contact-info{
    display: flex;
    gap: 140px;
}
hr{
    width: 90%;
    border: 1px solid rgba(255, 255, 255, 0.1);;
}
.copyright{
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    padding-bottom: 35px;
}
/* Responsive for mobile */

@media screen and (max-width:576px) {
    /* Navigation */
    .header{
        margin: 10px;
        width: 100%;
    }
    
    .nav-items {
        display:none; 
    }
    .nav-icon {
        display:block; 
    }
    .nav-title{
        margin: 0;
    }
    /* Banner */
    .banner{
        flex-direction: column;
        width: 90%;
        gap: 0px;
    }  
    .banner-title{
        font-size: 2.2rem;
    }  
    .banner-text{
        width: 100%;
    }
    /* Main --Habit */
    .habit{
        margin-bottom: 40px;
    }
    .four-habits{
        flex-direction: column;
        width: 50%;
        margin: 0 auto;
    }
    /* Run extra */
    .run-extra{
        flex-direction: column;
    }
    .run-extra-text {
        text-align: center;
    }
    .run-extra-image{
        margin-top:30px;
    }
    /* BMI */
    .bmi-chart{
        flex-direction: column;
    } 
    .bmi-text {
        width: 90%;
    }
    .bmi-indication{
        width: 90%;
        margin: 0 auto;
    }
      
    .calculate-bmi{
        width: 90%;
        margin: 0 auto;
    }
    .team .common-title, .team .text-details{
        width: 90%;

    }
    .all-trainer{
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }
    /* Footer */
    .fitness-info{
        flex-direction: column;
        padding-left: 10px;

    }
    .company .text-details{
        width: 90%;
    }
    .contact-info{
        flex-direction: column;
        gap: 10px;
    }

}